@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;900&family=Roboto:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.2s;
}

button {
  transition: 0.2s;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
}

@font-face {
  font-family: "Motter";
  src: url("../fonts/Motter Corpus Std Regular.eot");
  src: local("☺"), url("../fonts/Motter Corpus Std Regular.woff") format("woff"), url("../fonts/Motter Corpus Std Regular.ttf") format("truetype"), url("../fonts/Motter Corpus Std Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.container {
  max-width: 1242px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  border-radius: 124px;
  border: none;
}

.header {
  padding: 17px 0;
}
.header__logo-link {
  color: #0B4141;
}
.header__logo {
  font-family: "Motter";
  font-weight: 400;
  font-size: 26px;
  color: #0B4141;
  cursor: pointer;
}
.header__navigation {
  display: flex;
  gap: 48px;
  align-items: center;
}
.header__button {
  padding: 12px 43px;
  color: #FFCCBC;
  background-color: #0B4141;
  cursor: pointer;
}
.header .container-header {
  display: flex;
  justify-content: space-between;
}
.header .nav__list {
  display: flex;
  gap: 24px;
}
.header .nav__item {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 16px;
}
.header .nav__link {
  color: #0B4141;
}

.hero {
  background-image: url("../img/hero/backgroung-hero.png");
  background-repeat: no-repeat;
  position: relative;
  padding: 120px 0 452px 0;
}
.hero__title {
  color: #FFCCBC;
  font-family: "Motter";
  font-size: 120px;
  text-align: center;
  max-width: 747px;
  margin: 0 auto;
  position: relative;
}
.hero__title span {
  background: linear-gradient(180deg, #0B4141 45.83%, #0B1F1F 45.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: absolute;
  z-index: 3;
  top: 100%;
  left: 23%;
}
.hero__image {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.toward {
  padding: 194px 0 164px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)), #FFCCBC;
  background-image: url("../img/toward/background-toward.png");
}
.toward__title {
  font-family: "Motter";
  font-weight: 400;
  font-size: 80px;
  line-height: 96px;
  max-width: 747px;
  margin: 0 auto;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 24px;
}
.toward__text {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  max-width: 747px;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 24px;
}
.toward__text span {
  font-weight: 800;
}

.choose {
  background-color: #0B4141;
  padding: 118px 0 85px;
  background-position: 100% 7px;
  position: relative;
}
.choose__title {
  font-family: "Nunito Sans";
  font-weight: 900;
  font-size: 68px;
  max-width: 479px;
  color: #FFCCBC;
}
.choose__text {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  padding: 32px 0 48px;
  max-width: 475px;
  color: #FFCCBC;
}
.choose__link {
  border: 2px solid #FFCCBC;
  border-radius: 100px;
  color: #FFCCBC;
  padding: 14px 31px;
}
.choose__image {
  position: absolute;
  top: 0.75%;
  right: 0%;
}
.choose .container__choose {
  display: flex;
}

.always {
  padding-top: 192px;
  padding-bottom: 106px;
}
.always__body {
  display: flex;
  gap: 192px;
  padding-top: 48px;
}
.always__title {
  font-family: "Nunito Sans";
  font-weight: 900;
  font-size: 68px;
  padding-bottom: 32px;
}
.always__title-text {
  max-width: 464px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  color: #0B4141;
}
.always__mouse {
  padding-top: 48px;
  display: flex;
  gap: 16px;
}
.always .always-color {
  color: #FFCCBC;
}
.always .premium-color {
  color: #0B4141;
}

.let {
  padding-top: 117px;
  background: rgba(245, 245, 245, 0.6);
  position: relative;
}
.let .container-let {
  position: relative;
  padding-bottom: 371px;
}
.let__title {
  font-family: "Motter";
  font-weight: 400;
  font-size: 80px;
  text-align: center;
  color: #FFCCBC;
}
.let__text {
  max-width: 890px;
  margin: 0 auto;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #0B4141;
  padding-top: 24px;
  padding-bottom: 39px;
}
.let__text span {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #0B4141;
}
.let img {
  position: absolute;
  bottom: 0;
}

.testimonials {
  background-image: url("../img/testimonials/background.png");
  padding: 49px 0 92px;
}
.testimonials__title {
  font-family: "Nunito Sans";
  font-weight: 900;
  font-size: 68px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 64px;
}
.testimonials__body {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.testimonials__block {
  padding: 20px;
  max-width: 305px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 8px;
  margin-bottom: 24px;
}
.testimonials__description {
  padding-bottom: 16px;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #0B4141;
}
.testimonials__people {
  display: flex;
  gap: 12px;
  align-items: center;
}
.testimonials__name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  color: #0B4141;
}
.testimonials__profession {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #0B4141;
}

.lesser {
  padding-bottom: 235px;
  padding-top: 135px;
  background-image: url(../img/lesser/background.png);
}
.lesser .container-lesser {
  position: relative;
}
.lesser__body {
  display: flex;
  gap: 166px;
  justify-content: flex-end;
}
.lesser__image img {
  position: absolute;
}
.lesser__image img:nth-child(1) {
  top: 5%;
  left: 5%;
}
.lesser__image img:nth-child(2) {
  top: 58%;
  left: 28%;
}
.lesser__image img:nth-child(3) {
  top: 86%;
  left: 2%;
}
.lesser__title {
  max-width: 506px;
  font-family: "Nunito Sans";
  font-weight: 900;
  font-size: 68px;
  color: #0B4141;
}
.lesser__text {
  max-width: 506px;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #0B4141;
  padding-top: 32px;
  padding-bottom: 48px;
}
.lesser__link {
  padding: 12px 34px;
  border: 2px solid #0B4141;
  border-radius: 100px;
  color: #0B4141;
}

.exist {
  background: linear-gradient(-51.34deg, #FFCCBC 10.28%, #FFFFFF 64.41%);
  opacity: 0.9;
  padding: 152px 0 93px;
}
.exist__logo {
  text-align: center;
}
.exist__title {
  max-width: 467px;
  font-family: "Nunito Sans";
  font-weight: 900;
  font-size: 68px;
  color: #0B4141;
  padding-bottom: 32px;
}
.exist__text {
  max-width: 472px;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #0B4141;
  padding-bottom: 48px;
}
.exist__text span {
  font-weight: 800;
}
.exist__link {
  padding: 12px 34px;
  border: 2px solid #0B4141;
  border-radius: 100px;
  color: #0B4141;
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 18px;
}
.exist__image {
  position: absolute;
  right: -10%;
  top: -34.5%;
}
.exist__body-image {
  text-align: center;
  padding-bottom: 32px;
}
.exist .container-exist {
  display: flex;
  position: relative;
}

.footer {
  background-color: #0B4141;
  padding: 236px 0 252px;
}
.footer__title {
  font-family: "Motter";
  font-weight: 400;
  font-size: 80px;
  text-align: center;
  color: #FFCCBC;
  padding-bottom: 48px;
}
.footer__links {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 21px 30px;
  border: 2px solid #FFCCBC;
  border-radius: 300px;
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 16px;
  color: #FFCCBC;
}
.footer__links img {
  align-items: center;
}
.footer__body {
  display: flex;
  justify-content: center;
  gap: 48px;
}/*# sourceMappingURL=style.css.map */