@import 'scss/reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;900&family=Roboto:wght@400;700&display=swap');
@import 'scss/fonts.scss';




.container {
    max-width: 1242px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    border-radius: 124px;
    border: none;
}

// HEADER
.header {
    padding: 17px 0;

    &__logo-link {
        color: $mainColor;
    }

    &__logo {
        font-family: $mainFont;
        font-weight: 400;
        font-size: 26px;

        color: $mainColor;

        cursor: pointer;
    }

    &__navigation {
        display: flex;
        gap: 48px;
        align-items: center;
    }

    &__button {
        padding: 12px 43px;
        color: $secondColor;
        background-color: $mainColor;

        cursor: pointer;
    }

    .container-header {
        display: flex;
        justify-content: space-between;
    }

    .nav {
        &__list {
            display: flex;
            gap: 24px;
        }

        &__item {
            font-family: $secondFont;
            font-weight: 600;
            font-size: 16px;
        }

        &__link {
            color: $mainColor;
        }
    }
}

.hero {
    background-image: url('../img/hero/backgroung-hero.png');
    background-repeat: no-repeat;
    position: relative;
    padding: 120px 0 452px 0;

    &__title {
        color: $secondColor;
        font-family: $mainFont;
        font-size: 120px;

        text-align: center;
        max-width: 747px;
        margin: 0 auto;

        position: relative;

        span {
            background: linear-gradient(180deg, #0B4141 45.83%, #0B1F1F 45.84%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            position: absolute;
            z-index: 3;
            top: 100%;
            left: 23%;
        }
    }

    &__image {
        position: absolute;
        bottom: 0;
        z-index: 2;
    }
}

.toward {
    padding: 194px 0 164px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)), #FFCCBC;
    background-image: url('../img/toward/background-toward.png');

    &__title {
        font-family: $mainFont;
        font-weight: 400;
        font-size: 80px;
        line-height: 96px;
        max-width: 747px;
        margin: 0 auto;


        color: $white;

        text-align: center;

        padding-bottom: 24px;
    }

    &__text {
        font-family: $secondFont;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        max-width: 747px;
        margin: 0 auto;

        text-align: center;

        color: $white;

        padding-bottom: 24px;

        span {
            font-weight: 800;
        }
    }
}

.choose {

    background-color: #0B4141;
    background-image: url('../img/choose/unicorn-choose.png');
    background-repeat: no-repeat;
    padding: 118px 0 85px;
    background-position: 100% 7px;

    &__title {
        font-family: $secondFont;
        font-weight: 900;
        font-size: 68px;
        max-width: 479px;

        color: $secondColor;
    }

    &__text {
        font-family: $secondFont;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        padding: 32px 0 48px;
        max-width: 475px;

        color: $secondColor;
    }

    &__link {
        border: 2px solid $secondColor;
        border-radius: 100px;
        color: $secondColor;
        padding: 14px 31px;
    }

    .container {

        &__choose {
            display: flex;
        }
    }
}

.always {
    padding-top: 192px;
    padding-bottom: 106px;

    &__body {
        display: flex;
        gap: 192px;
        padding-top: 48px;
    }

    &__body-text {}

    &__title {
        font-family: $secondFont;
        font-weight: 900;
        font-size: 68px;
        padding-bottom: 32px;
    }

    &__title-text {
        max-width: 464px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-size: 24px;
        line-height: 32px;

        color: $mainColor;
    }

    &__mouse {
        padding-top: 48px;
        display: flex;
        gap: 16px;
    }


    .always-color {
        color: $secondColor;
    }

    .premium-color {
        color: $mainColor;
    }
}

.let {
    padding-top: 117px;
 
    background: rgba(245, 245, 245, 0.6);
    position: relative;

    .container-let {
        position: relative;
        padding-bottom: 371px;
    }

    &__title {
        font-family: $mainFont;
        font-weight: 400;
        font-size: 80px;
        text-align: center;

        color: $secondColor;
    }

    &__text {
        max-width: 890px;
        margin: 0 auto;
        font-family: $secondFont;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        color: $mainColor;
        padding-top: 24px;
        padding-bottom: 39px;

        span {
            font-family: $secondFont;
            font-weight: 700;
            font-size: 24px;
            text-align: center;

            color: $mainColor;
        }
    }


    img {
        position: absolute;
        bottom: 0;
    }
}

.testimonials {
    background-image: url("../img/testimonials/background.png");
    padding: 49px 0 92px;

    &__title {
        font-family: $secondFont;
        font-weight: 900;
        font-size: 68px;
        text-align: center;

        color: $white;

        padding-bottom: 64px;
    }

    &__body {
        display: flex;
        gap: 24px;
        justify-content: center;
    }

    &__column {}

    &__block {
        padding: 20px;
        max-width: 305px;

        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(12px);

        border-radius: 8px;

        margin-bottom: 24px;
    }

    &__description {
        padding-bottom: 16px;

        font-family: $secondFont;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;

        color: $mainColor;
    }

    &__people {
        display: flex;
        gap: 12px;
        align-items: center;
    }

    &__text {}

    &__name {
        font-family: $thirdFont;
        font-weight: 700;
        font-size: 16px;

        color: $mainColor;
    }

    &__profession {
        font-family: $thirdFont;
        font-weight: 400;
        font-size: 14px;

        color: $mainColor;


    }
}

.lesser {
    padding-bottom: 235px;
    padding-top: 135px;
    background-image: url(../img/lesser/background.png);

    .container-lesser {
        position: relative;
    }

    &__body {
        display: flex;
        gap: 166px;
        justify-content: flex-end
    }



    &__image {
        img {
            position: absolute;

            &:nth-child(1) {
                top: 5%;
                left: 5%;
            }

            &:nth-child(2) {
                top: 58%;
                left: 28%;
            }

            &:nth-child(3) {
                top: 86%;
                left: 2%;
            }
        }
    }

    &__title {
        max-width: 506px;
        font-family: $secondFont;
        font-weight: 900;
        font-size: 68px;

        color: $mainColor;
    }

    &__text {
        max-width: 506px;
        font-family: $secondFont;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;

        color: $mainColor;
        padding-top: 32px;
        padding-bottom: 48px;
    }

    &__link {
        padding: 12px 34px;

        border: 2px solid #0B4141;
        border-radius: 100px;
        color: $mainColor;
    }
}

.exist {
    background: linear-gradient(-51.34deg, #FFCCBC 10.28%, #FFFFFF 64.41%);
    opacity: 0.9;

    padding: 152px 0 93px;

    &__logo {
        text-align: center;
    }

    &__title {
        max-width: 467px;
        font-family: $secondFont;
        font-weight: 900;
        font-size: 68px;

        color: $mainColor;
        padding-bottom: 32px;
    }

    &__text {
        max-width: 472px;
        font-family: $secondFont;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;

        color: $mainColor;

        span {
            font-weight: 800;
        }

        padding-bottom: 48px;
    }

    &__link {
        padding: 12px 34px;

        border: 2px solid #0B4141;
        border-radius: 100px;

        color: $mainColor;

        font-family: $secondFont;
        font-weight: 700;
        font-size: 18px;
    }

    &__image {
        position: absolute;
        right: -10%;
        top: -34.5%;
    }

    &__body-image {
        text-align: center;
        padding-bottom: 32px;
    }

    .container-exist {
        display: flex;
        position: relative;
    }
}

.footer {

    background-color: $mainColor;
    padding: 236px 0 252px;

    &__title {
        font-family: $mainFont;
        font-weight: 400;
        font-size: 80px;
        text-align: center;

        color: $secondColor;
        padding-bottom: 48px;
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 21px 30px;

        border: 2px solid #FFCCBC;
        border-radius: 300px;

        img {
            align-items: center;
        }

        font-family: $secondFont;
        font-weight: 600;
        font-size: 16px;

        color: $secondColor;
    }

    &__body {
        display: flex;
        justify-content: center;
        gap: 48px;
    }
}